@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo: 100,200,300,400,500,600,700');

/*---------------------------------------------------bg-color------------*/

.bg-color-monkee-history{
    background-color: #33ACFF;
}

.bg-color-tour{
    background-color: #808000;
    
}

/*---------------------------------------------------Header---------------*/

h1,h2,h3,h4{
    font-family: "cursive", sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}

.logo{
    background-image:url("fun.jpg");
    background-size: contain;
    position: relative;
    height: 600;
    width 400;
}

.hero-image {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

.hero-text button:hover {
  background-color: #555;
  color: white;

}

div.container {
    width: 100%;
    border: 1px solid gray;
}

header{
    padding: 200px;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

/*-----------------------------------------------------------------Music Gallery--*/

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*----------------------------------------------------------------------Work History*/

.timeline-item{
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item p{
    padding:0;
    margin:0;
}

.timeline-item::before{
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "exo", sans-serif;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after{
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background:black;
    
}

.history-heading{
    color:#;
    margin-bottom: 50px;
    
}

.history-items{
    margin-bottom: 30px;
}

/*----------------------------------------------------------TourTable-------*/

.center{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*----------------------------------------------------------------------Contact*/

.contact-heading{
    font-family: "Exo" ,sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
    
    
}

.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    
}

.form-control{
    float: left;
    margin-bottom: 20px;
}

button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #33ACFF;
    color:#fafafa;
}


/*------------------------------------------------------------MusicPage-------*/

.row-music {  
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

.iframe{
    margin-left: 50px;
    padding-left: 50px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
    .row, .navbar {   
        flex-direction: column;
    }
}

.image-items{
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 40px;
}

.audio{
    padding-top: 10px;
}

.audio-items{
    vertical-align: middle;
    margin-left: 50px;
}

.list-group{
    background-color: hidden;
}

.album-art{
    margin-left: 80px;
}


/*------------------------------------------------------------Article--------*/

article {
    margin-left: 500px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

.who-are-we-icon{
    font-size: 26px;
    color: #338DFF;
}

/*------------------------------------------------------------Footer---------*/

footer{
    padding: 35px;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    position: inherit;
}

.social-links{
    padding-bottom: 15px;
    
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background:#3B5998;
    
}

#footer-details{
    margin: 20px;
}

/*--------------------------------------------------------Media Queries----*/





